
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@0;1&family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');


$bgColor:#131722;
$lightBGColor:rgba(30, 41, 82, 0.2);
$bgTransparent:rgba(19, 91, 117, 0.6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;


body {
background-color:$bgColor;
color: $fontColor;
font-family: 'Montserrat Alternates', sans-serif;
}
a,a:hover{
    color: $fontColor !important;
}
.brdr{
    border: $borderHeight $borderColor solid;
    }